@font-face{
    font-family: 'Aldrich-Regular';
    src: url('/assets/Aldrich-Regular.ttf');
}
@font-face{
    font-family: 'Aclonica-Regular';
    src: url('/assets/Aclonica-Regular.ttf ');
}
li{
    float: left;
    position: relative;
    left: 1068px;
    top: 20px;
}
#log{
    position: relative;
    right: 1028px;
    top: -20px;
    padding: 10px;
}
#import{
    text-decoration: underline;
}
li a{
    display: block;
    color: #000000;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.5rem;    
    font-family: 'Aldrich-Regular', cursive, sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FA9241;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
li a:hover{
    color: #ffffff;
}
.svg{
    position: relative;
    top: 123px;
}
.angular{
    position: absolute;
    width: auto;
}
.angular img{
    position: relative;
    top: 130px;
    right: 260px;
    width: 69%;
}
.ht-cs{
    position: absolute;
}
.ht-cs .css3 img{
    position: relative;
    top: 291px;
    right: 322px;
}
.ht-cs .html img{
    position: relative;
    top: 317px;
    right: 322px;
}
.js-node{
    position: absolute;
}
.js-node .js img{
    position: relative;
    top: 511px;
    right: 348px;
    width: 44%;
}
.js-node .nodejs img{
    position: relative;
    top: 511px;
    right: 576px;
    width: 65%;
}
.txt span{
    font-family: 'Aclonica-Regular', cursive, sans-serif;
}
.txt{
    position: absolute;
    top: 309px;
    left: 875px;
    width: 46%;
    font-size: 2.5rem;
    text-align: center;
}
.job{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 772px;
    right: 379px;
}