<section>
    <header>
      <div class="nav">
        <nav>
          <ul>
            <li>
                <img id="log" src="assets/Img Personal/Web.svg" alt="WebGhsanchez">
            </li>
            <li>
              <a href="#" id="import">Inicio</a>
            </li>
            <li>
              <a href="https://www.figma.com/proto/cHIGCpXFVlVSynIjVnqEuA/CV-Guy-S%C3%A1nchez?node-id=1%3A2&scaling=min-zoom" target="_blank">Quien Soy</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <body>
      <div class="container-md svg">
        <div class="row">
          <div class="col-md angular">
            <img src="assets/Img Personal/angular-icon.svg" alt="Angular">
          </div>
        </div>
        <div class="row ht-cs">
          <div class="col-md css3">
            <img src="assets/Img Personal/css-3 1.svg" alt="CSS3">
          </div>
          <div class="col-md html">
            <img src="assets/Img Personal/html-5 1.svg" alt="HTML-5">
          </div>
        </div>
        <div class="row js-node">
          <div class="col-md js">
            <img src="assets/Img Personal/javascript.svg" alt="javascript">
          </div>
          <div class="col-md nodejs">
            <img src="assets/Img Personal/nodejs.svg" alt="javascript">
          </div>
        </div>
      </div>

      <div class="container txt">
        <div class="row">
          <div class="col-sm">
            <span>
              Hey, I´m Guy.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <span>
              Digital designer & front-end developer.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <span>
              Currently a design system engineer helping people desing.
            </span>
          </div>
        </div>
      </div>
    </body>

  </section>